{
	auto_https disable_redirects
}

{$DOMAIN} {
	encode zstd gzip
	reverse_proxy app:3000
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}
	log {
		output file /data/access.log {
			roll_size 20MiB
			roll_keep 10
		}
	}
}
